.navigation__list {
  width: 100%;
}

.navigation__list-item {
  display: inline;
  list-style: none;
  color: #ffffff;
  padding: .75rem 0;
  margin-right: 15%;
}

.navigation__list-text {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.navigation__list-text:hover {
  color: #f1c40f;
  text-decoration: none;
  transition: 1s; 
}