.navigation__list {
  width: 100%;
}

.navigation__list-item {
  display: inline;
  list-style: none;
  color: #ffffff;
  padding: .75rem 0;
  margin-right: 15%;
}

.navigation__list-text {
  font-size: 1rem;
}