.card__parking-info {
  margin-bottom: 3rem;
  padding: 1rem 0 1rem 9%;
}

.parking-info__button-primary {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: #ffffff;
  margin-right: 1rem;
}

.parking-info__button-primary:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgb(241, 196, 15, 0.8);
}

.card__parking-buttons {
  margin-top: 1.5rem;
}

.card__info-titles {
  font-weight: 700;
}

.parking-info__button-sharable {
  background-color: #38393B;
  border-color: #38393B;
  color: #ffffff;
}