.card__parking-info {
  margin-bottom: 3rem;
}

.parking-info__button-primary {
  background-color: #f1c40f;
  border-color: #f1c40f;
  color: #ffffff;
  margin-right: 1rem;
}

.parking-info__button-sharable {
  background-color: #38393B;
  border-color: #38393B;
  color: #ffffff;
}