.profile-content {
  padding-top: 5rem;
}

.profile__details {
  padding: 2rem 1.5rem 2rem 1.5rem;
  /* border: 1px solid rgba(56, 57, 59, 0.4); */
}

.reserved-space__container {
  margin-top: 2.5rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-left: 2px solid #f1c40f;
}

.reserve__text-highlight {
  color: #f1c40f;
  font-weight: 700;
}


@media screen and (max-width: 575px) {
  .profile__details {
    padding: 2rem 1.5rem 2rem 1.5rem;
    border: none;
  }

  .profile__map-location {
    margin-top: 2.5rem;
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-left: none;
  }
}



/* Loading */

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
