.signUp__background {
  /*background-color: rgba(1, 5, 12, 0.7);*/
  height: 100vh;
  background-image: url('../../assets/images/signUp.png');
  background-size: cover;
}

.signUp__image-banner {
  width: 100%;
  height: 100vh;
  background-color: #38393B;
}

.form__container {
  padding: 6rem 5rem 0 5rem;
}

.form__title {
  margin-bottom: 3rem;
}

.signUp__form-label {
  color: rgb(1, 5, 12);
}

@media screen and (max-width: 577px) {
  .signUp__background {
    height: 100vh;
    background-image: none;
  }

  .form__container {
    padding: 6rem 0 0 0;
  }
}