.signUp__background {
  /*background-color: rgba(1, 5, 12, 0.7);*/
  height: 100vh;
}

.signUp__image-banner {
  max-width: 100vw;
  min-width: 100vw;
  height: 50vh;
  background-image: url('../../assets/images/img1.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position:center;
}

.form__container {
  padding: 6rem 5rem 0 5rem;
}

.form__title {
  margin-bottom: 3rem;
}

.signUp__form-label {
  color: rgb(1, 5, 12);
}